#app
{
    display : flex;
    font-family: sans-serif;
    height: 100%;
}

.neon{
  font-family: neonsregular;
}
h2.neon{
  text-align: center;
  color : #00F3F9;
  text-shadow: 0px 0px 5px #00F3F9;
  font-size: 35px;
}
.button
{
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    background-color: navy;
    color: white;
    margin-top: 10px;
}

#app > main{
  flex-grow: 1;
}

body{
  height: 100vh;
  margin: 0;
  background-color: #1f0030;
}

@font-face {
    font-family: 'neonsregular';
    src: url('fonts/neons/neons_demo-webfont.woff2') format('woff2'),
         url('fonts/neons/neons_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
