/* css base */

html,body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

#app
{
    display: flex;
    flex-direction: row;
    background-color: rgb(245,245,245);
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 51px;
    min-height: calc(100vh - 51px);
}

.back-grey
{
    background-color: rgb(240,240,240);
}

main
{
    flex-grow: 1;
}

#landing-page
{
    margin: 0;
}
h2
{
    text-align: center;
    font-weight: 300;
    font-size: 2em;
}

.button
{
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    background-color: navy;
    color: white;
    margin-top: 10px;
}

.center
{
    text-align: center;
}

.no-color
{
    background-color: transparent !important;
    background-image: none !important;
}

/**** intro *****/

#intro-section
{
    padding: 5px 0px 100px 0px;
    
    background-color: cornflowerblue;
    background-image: url("imgs/fond5.jpg");
    background-size: cover;
    padding-top: 100px;
    color:white;
}
/*** text-image ***/

.text-image
{
    display: flex;
    flex-direction: row;

}

.text-image > *
{
    flex: 1;
    padding: 80px;
}


.text-image aside
{

}

.text-image aside img
{
    width: 100%;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}


.text-image.inversed
{
    flex-direction: row-reverse;
}

#month-exercise
{
    height: 500px;
    position: relative;
    top: -100px;
    background-color: white;
    width: 1000px;
    max-width: calc(100vw - 50px);
    margin: auto !important;
    /*box-shadow: 1px 1px 8px rgba(0,0,0,0.5);*/
    border: 1px solid lightgrey;
    padding: 5px;
}

/*********** tag **************/

.tags.horizontal
{
    text-align: center;
}

.tags.horizontal li
{
    display: inline-block;
    min-width: 80px;
    padding: 10px 10px;
    text-align: center;
    background-color: #F5D247;

}

.tags.horizontal h2
{
    display:none;
}



/****** exercise *************/


.list-exo-min
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vertical-line
{
    border-left: 1px solid #B7E0ED;
    display: none;
}
.exo-min
{
    width: 320px;
    padding: 5px;
    height: 220px;
    color: rgb(70,70,70);
    border: 1px solid lightgrey;
    background-color: white;
    margin-top: 10px;
    
}

.exo-min.plus
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border:none;
    background-color: transparent;
}

.exo-min.plus .button
{
    background-color:lightsteelblue;
    color:black;
}

.exo-min .title
{
    font-size: 1.3em;
    text-align: center;
    margin: 5px;
}

.exo-min .description
{
    margin: 10px;
}

/**** input ****/


#login-section
{
    background-color: white;
    display: inline-block;
    padding: 40px;
    border: 1px solid lightgrey;
    margin-top: 50px;
}

form .line
{
    text-align: center;
    width: 250px;
    margin: 15px auto;
}

.subtitle
{
    text-align: center;
    font-size: 1.2em;
    color: rgb(100,100,100);
    margin: 0px;
    margin-top: 0px;
    font-weight: 800;
    margin-top: 5px;
    
}

label
{
    text-align: left;
    width: 100%;
    display: inline-block;
    display: block;
    
}

input {
    border-radius: 0px;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    margin: 10px;
    width: 100%;
}


input[type=submit]
{
    background-color: navy;
    padding: 10px;
    width: 200px;
    height: 40px;
    color: white;
}

@media only screen and (max-width: 1100px) 
{
    #month-exercise
    {
        width: auto;
        box-shadow: none;
        margin: 0;
    }

    .text-image.inversed,.text-image
    {
        flex-direction: column;
    }
    
    .text-image > *
    {
        padding: 20px 80px;
    }
}


@media only screen and (max-width: 700px)
{
    #app
    {
        margin-top: 0px !important;
    }


    /**** *** *** *** *** NAVBAR *** *** *** *** ****/

    #navbar
    {
        display: block;
        height: 100vh;
        color:white;
        background-color: black;
        background-image: none;
        width: 200px;
    }

    #navbar .content-menu
    {
        display: block;
    }

    #navbar ul
    {
        padding: 0;
        text-align: left;
    }

    #navbar a
    {
        color:white;
    }

    #navbar li
    {
        display: block;
        padding: 0;
        margin: 10px 0px;
    }

    #navbar.noVisible .content-menu
    {
        display: none;
    }

    #navbar .hamburger
    {
        filter: invert(100%);
        height: 50px;
        width: 50px;    
        display: block;   
    }
  
    #navbar.noVisible
    {
        width: 50px;
        height: 50px;
    }

    /*** *** *** *** tags navbar *** *** *** ****/

    #navbar.noVisible + main .tags
    {
        display: none;
    }

    .tags.horizontal
    {
        padding: 0;
        position: fixed;
        bottom: 0;
        z-index: 6;
        color: white;
        padding: 15px;
    }

    .tags.horizontal li
    {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
        background-color: transparent;
        margin-bottom: 5px;

    }


    .tags.horizontal h2
    {
        display:block;
        margin: 0;
        margin-bottom: 10px;
    }
} 